---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Introduce from '../components/Introduce.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Katy Barboza">
	<main class="w-full flex flex-col pt-[52px] md:pt-[108px]">
		<Header />
		<Introduce />
		<Experience />
		<Projects />
		<About />
		<Contact />
		<Footer />
	</main>
</Layout>

