<section id="about" class="flex flex-col py-32 px-56 scroll-mt-[108px] text-white gap-8 bg-dark-blur">
    <h2 class="text-2xl bg-white-blur p-4 font-code font-semibold">// Acerca de mí</h2>
    <section class="flex gap-4 justify-between items-center">
        <section class="flex flex-col gap-4">
            <p class="max-w-prose">
                Diseño y desarrollo sitios web frontend limpios y eficientes, combinando mi pasión por la tecnología con mi interés en el diseño. Me encantaría trabajar contigo para crear algo especial.
            </p>
            <p class="font-code font-semibold">Levántate, vístete y di «<span class="text-primary">¡Hola, mundo!»</span>.</p>
        </section>
        <figure>
            <img src="/photo.png" alt="">
        </figure>
    </section>
</section>