<section id="about" class="flex flex-col p-4 lg:py-32 lg:px-56 scroll-mt-[52px] lg:scroll-mt-[108px] text-white gap-4 lg:gap-8 bg-dark-blur">
    <h2 class="text-base lg:text-2xl bg-light p-2 lg:p-4 font-code font-semibold">// Acerca de mí</h2>
    <section class="flex flex-col lg:flex-row gap-4 justify-between lg:items-center text-sm lg:text-base">
        <section class="flex flex-col gap-2 lg:gap-4">
            <p class="max-w-prose">
                Diseño y desarrollo sitios web frontend limpios y eficientes, combinando mi pasión por la tecnología con mi interés en el diseño. Me encantaría trabajar contigo para crear algo especial.
            </p>
            <p class="font-code font-semibold">Levántate, vístete y di «<span class="text-primary">¡Hola, mundo!»</span>.</p>
        </section>
        <figure class="self-end">
            <img src="/photo.png" alt="">
        </figure>
    </section>
</section>