---
const jobs = [
  {
    company: "Igloolab",
    position: "WebMaster",
    period: "Mar. 2024 - Actualidad",
  },
  {
    company: "Asisí Felicia",
    position: "Voluntario JS Conf Colombia",
    period: "Jun. 2023 - Nov. 2023",
  },
];
---

<section id="experience" class="flex flex-col p-8 scroll-mt-[108px] text-white bg-dark-blur gap-8">
  <h2 class="text-2xl bg-white-blur p-4 font-code font-semibold">// Experiencia</h2>
  <ul class="flex gap-4">
    {
      jobs.map((job) => (
        <li>
          <article class="flex flex-col bg-light border-solid border-2 p-3 border-light hover:bg-hover">
            <h3>{job.company}</h3>
            <p>{job.position}</p>
            <p>{job.period}</p>
          </article>
        </li>
      ))
    }
  </ul>
</section>
