---
import Discord from "./Discord.astro";
import GitHub from "./GitHub.astro";
import Linkedin from "./LinkedIn.astro";
import Up from "./Up.astro";
---

<footer
  class="relative flex flex-col lg:flex-row justify-center gap-4 lg:justify-between items-center h-32 p-4 lg:p-8 bg-dark-blur text-white"
>
  <ul class="flex self-start lg:self-center font-medium gap-1 lg:gap-2 order-2 lg:order-1">
    <li
      class="rounded border-solid leading-none border-transparent border-2 hover:border-hover hover:bg-hover"
    >
      <a
        href="https://discord.com/users/katy_barboza"
        class="flex p-2"
        target="_blank"
      >
        <Discord />
      </a>
    </li>
    <li
      class="rounded border-solid leading-none border-transparent border-2 hover:border-hover hover:bg-hover"
    >
      <a href="https://github.com/katy-paola" class="flex p-2" target="_blank">
        <GitHub />
      </a>
    </li>
    <li
      class="rounded border-solid leading-none border-transparent border-2 hover:border-hover hover:bg-hover"
    >
      <a
        href="https://www.linkedin.com/in/katy-barboza-baena"
        class="flex p-2"
        target="_blank"
      >
        <Linkedin />
      </a>
    </li>
  </ul>
  <p class="text-xs lg:text-sm order-1">Katy Barboza Baena - Desarrolladora Web</p>
  <a
    href="#top"
    class="absolute lg:static right-4 top-3/4 -translate-y-3/4 lg:transform-none px-3 py-2 rounded border-solid border-transparent text-white border-2 hover:border-hover hover:bg-hover order-1"
  >
    <Up />
  </a>
</footer>
